<div ng-show="!testStart">
    <input type="text" ng-model="totalQuestions" />
</div>
<div ng-show="testStart">
    <div>
        <div>
            {{question.text}}
        </div>
        <div>
            <div ng-repeat="answers in question.answers">
                <div class="radio">
                    <input type="radio" ng-model="answer.value" />{{answer.text}}
                </div>
            </div>
        </div>
    </div>
    <div>
        <button ng-click="getAnswer()">Next</button>
    </div>
    <div ng-show="answer.isWrong">
        <div>
            Your answer is wrong
            Correct option is {{answer.correctOption}}
            Reason is {{answer.reason}}
        </div>
        <button ng-click="nextQuestion">Proceede To Next Question</button>
    </div>
</div>
<div ng-show="examComplete">
    {{totalQuestions}}
    {{correctAnswers}}
    {{wrongAnswers}}
    {{percentage}}
</div>
